@font-face {
    font-family: "FFDIN-Bold";
    font-style: normal;
    src: url("/assets/fonts/redacted-Bold.ttf");
}

@font-face {
    font-family: "FFDIN";
    font-style: normal;
    src: url("/assets/fonts/redacted-Regular.ttf");
}
