<section class="intro">
	<h1 class="heading">
		<span class="minor">Enter the</span>
		#redactedBACKTOSCHOOL
		<span class="minor">Sweepstakes</span>
	</h1>
	<p>Complete the fields below for your chance to win a $1,000 redacted shopping spree!</p>
</section>
<form action="" id="form">
	<article class="field">
		<input type="email" class="email" placeholder="Email address*" name="email" />
		<div class="note">Email entered will be used to contact sweepstakes winner.</div>
	</article>
	<article class="field">
		<input type="text" placeholder="Name" name="name" />
	</article>
	<article class="field">
		<label class="checkbox">
			<input type="checkbox" name="I have read & agree to The Official Sweepstakes Rules *" />
			<div class="box"></div>
			<div class="label">I have read & agree to The Official Sweepstakes Rules *</div>
		</label>
	</article>
	<article class="field">
		<label class="checkbox">
			<input type="checkbox" name="I am 13 years of age or older. *" />
			<div class="box"></div>
			<div class="label">I am 13 years of age or older. *</div>
		</label>
	</article>
	<article class="field submit">
		<button class="submit-button"><span class="label">Submit</span></button>
		<div class="note">*required</div>
	</article>   
</form>